main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#messageList {
  flex: 1;
  overflow-y: scroll;
}

#messageList > li {
  overflow-anchor: none;
}

#messageList > .anchor {
  height: 1px;
  overflow-anchor: auto;
}
